
h1,p,a{
  
    color: wheat;
}

body{


    background-image:url("../images/about-background.jpg");
    background-repeat: no-repeat;    
    background-size: auto;
    object-fit: cover;
    
}

header{
padding-left: 10%;
}
ul{
    color: wheat;
    
}
li{
    color: wheat;
}
img{
 width: 300px;
 height: 300px;
 object-fit: cover;
 border-radius: 20%;
 -webkit-border-radius: 20%;
 -moz-border-radius: 20%;
 -ms-border-radius: 20%;
 -o-border-radius: 20%;
 margin-left: 100px;
}
.image-container{
    margin-left: 100px;
}
