
h1{
  
    color: wheat;
}

body{


    background-image:url("../images/about-background.jpg");
    background-repeat: no-repeat;    
    background-size: auto;
    object-fit: cover;
    
}
p{
    color: black;
}
header{
padding-left: 10%;
}
